@import '../node_modules/insidesales-components/lib/sassThemeUtils.scss';
@import '../node_modules/sh-core/src/base';

.sh-toast {
    position: fixed;
    bottom: -70px;
    left: 16px;
    background: theme(get('brandBackup01'), rgba($colorToolTipBackground, 0.98));
    min-width: 280px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 10000000001;
    transition: bottom $transition;
    

    &.fade-in {
        bottom: 64px;
        transition: bottom $transition;
    }

    &.from-top {
        border-radius: 0 0 4px 4px;
        bottom: initial;
        top: -70px;

        &.fade-in {
            top: 0;
            transition: top $transition;
        }
    }

    &.error {
        background: theme(get('warning01'), rgba($colorToolTipBackground, 0.98));
    }

    &.right {
        right: 10px;
        left: calc(100% - 430px);

        .sh-toast-content {
            padding: 0 15px;
            align-items: center;

            .sh-toast-body {
                font-size: 14px;
                line-height: normal;
                text-overflow: initial;
                overflow: initial;
                white-space: initial;
            }
        }
    }

    .sh-toast-content {
        left: 0;
        bottom: 0;
        display: flex;
        padding: 16px;

        .sh-toast-body {
            color: theme(get('white90'), 'black');
            font-size: 14px;
        }
    }

    @media screen and (max-width: 480px) {
        left: 0;
        right: 0;
        bottom: -70px;
        margin: auto;
        border-radius: 0;

        &.fade-in {
            bottom: 0;
        }

        .sh-toast-content {
            .sh-toast-body {
                font-size: 14px;
            }
        }
    }
}
